<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.pjt.tutorin.model.dao.UserDao">
	<!-- 전체 사람 조회 -->
	<select id="selectAll" resultType="User">
		SELECT *
		FROM user;
	</select>
	
	<!-- 사용자 상세 조회 -->
	<select id="selectOne" parameterType="String" resultType="User">
		SELECT *
		FROM user
		WHERE id = #{id};
	</select>
	
	<!-- 사용자 등록 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO user (id, password, email, name, nickname, phoneNum)
		VALUES (#{id}, #{password}, #{email}, #{name}, #{nickname}, #{phoneNum})
	</insert>
	
	<!-- 사용자 삭제 -->
	<delete id="deleteUser" parameterType="String">
		DELETE FROM user
		WHERE id = #{id}
	</delete>
	
	<!-- 사용자 정보 수정 -->
	<update id="updateUser" parameterType="User">
		UPDATE user
		SET email = #{email}, name = #{name}, nickname = #{nickname}, phoneNum = #{phoneNum}
		WHERE id = #{id} 
	</update>
	
	<!-- 사용자 검색 -->
	<select id="searchUser" parameterType="SearchCondition" resultType="User">
		SELECT *
		FROM user
		WHERE
			<trim prefixOverrides="AND">
				 <if test="key != null">
					AND ${key} LIKE concat('%', #{word}, '%')
				</if> 
				
			</trim>
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>
	
	<insert id="regist" parameterType="user">
		INSERT INTO user (id, password, email, name, nickname, phoneNum)
		VALUES (#{id}, #{password}, #{email}, #{name}, #{nickname}, #{phoneNum})
	</insert>
	
	
	<select id="loginUser" parameterType="User" resultType="User">
		SELECT * FROM user
		WHERE id=#{id} AND password = #{password}
	</select>
	
</mapper>